<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "/WEB-INF/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.imust.newckbk.dao.CetStuscoreDao">
    <resultMap id="cetStuscoreMap" type="com.imust.newckbk.domain.CetStuscore">
        <result property="ksKssj" column="ks_kssj" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="ksYyjb" column="ks_yyjb" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="ksXh" column="ks_xh" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="ksZf" column="ks_zf" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="ksQk" column="ks_qk" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="ksWj" column="ks_wj" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="ksXymc" column="ks_xymc" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="ksZymc" column="ks_zymc" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="ksNj" column="ks_nj" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="ksBjmc" column="ks_bjmc" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="cols">
		ks_kssj,
		ks_yyjb,
		ks_xh,
		ks_zf,
		ks_qk,
		ks_wj,
		ks_xymc,
		ks_zymc,
		ks_nj,
		ks_bjmc
	</sql>
    <select id="getById" resultMap="cetStuscoreMap" parameterType="java.lang.String">
		select <include refid="cols"/> from CET_STUSCORE  cetStuscore
		 where id = #{id}
	</select>
    <select id="getByMap" resultMap="cetStuscoreMap" parameterType="java.util.Map">
		select <include refid="cols"/> from CET_STUSCORE  cetStuscore
		<if test="whereSql != null and whereSql != ''" >
			<![CDATA[${whereSql}]]>
		</if>
		<!-- 新建查询条件属性 -->
	</select>
    <select id="getByEntity" resultMap="cetStuscoreMap" parameterType="com.imust.newckbk.domain.CetStuscore">
		select <include refid="cols"/> from CET_STUSCORE  cetStuscore
		<!-- 新建查询条件属性 -->
	</select>
    <select id="getByPage" resultMap="cetStuscoreMap" parameterType="com.imust.newckbk.page.Page">
		select <include refid="cols"/> from CET_STUSCORE  cetStuscore
		<if test="p != null and p.whereSql != null and p.whereSql != ''" >
			<![CDATA[${p.whereSql}]]>
		</if>
		<!-- 新建查询条件属性 -->
	</select>
    <select id="getCount" resultType="java.lang.Integer">
		select count(1) from CET_STUSCORE  cetStuscore
	</select>
    <select id="getCountByMap" resultType="java.lang.Integer">
		select count(1) from CET_STUSCORE  cetStuscore
		<if test="whereSql != null and whereSql != ''" >
			<![CDATA[${whereSql}]]>
		</if>
		<!-- 新建查询条件属性 -->
	</select>
    <select id="getCountByEntity" resultType="java.lang.Integer">
		select count(1) from CET_STUSCORE  cetStuscore
		<!--新建if语句新建过滤条件-->
	</select>
    <select id="getAllExamDate" resultType="java.lang.String">
		select distinct ks_kssj from CET_STUSCORE cetStuscore order by ks_kssj desc
	</select>

	<select id="statisticBaseNumberRegister" resultType="com.imust.newckbk.domain.excel.StatisticReport">
		select
			xsm as academy,
			zym as major,
			substr(dqnj,3,2) as grade,
			bjh as classes,
			count(*) as schoolNumber
		from
			xs_xjxxb_view_kw
		<where>
			SFYXJ = '是'
			<if test="grade != null and grade != ''">
				and dqnj not in (${grade})
			</if>
			<if test="academy != null and academy != ''">
				and xsm not in (${academy})
			</if>
			<if test="major != null and major != ''">
				and zym not in (${major})
			</if>
			<if test="classes != null and classes != ''">
				and dqnj not in (${classes})
			</if>
			group by xsm,zym,dqnj,bjh
			order by bjh
		</where>
	</select>
	<select id="statisticBaseNumberEnter" resultType="com.imust.newckbk.domain.excel.StatisticReport">
		select
			ks_yyjb as langType,
			ks_xymc as academy,
			ks_zymc as major,
			ks_nj as grade,
			ks_bjmc as classes,
			count(*) as baseNumber
		from
			cet_stuscore
			left join xs_xjxxb_view_kw on xs_xjxxb_view_kw.xh = cet_stuscore.ks_xh
		<where>
			xs_xjxxb_view_kw.SFYXJ = '是'
			<if test="grade != null and grade != ''">
				and dqnj not in (${grade})
			</if>
			<if test="academy != null and academy != ''">
				and xsm not in (${academy})
			</if>
			<if test="major != null and major != ''">
				and zym not in (${major})
			</if>
			<if test="classes != null and classes != ''">
				and dqnj not in (${classes})
			</if>
			<if test="examDate != null and examDate != ''">
				and ks_kssj in (${examDate})
			</if>
			<if test="langType != null and langType != ''">
				and ks_yyjb in (${langType})
			</if>
			group by ks_yyjb,ks_xymc,ks_zymc,ks_nj,ks_bjmc
			order by ks_yyjb
		</where>
	</select>

	<!-- 缺考人数 -->
    <select id="statisticMissingNumber" resultType="com.imust.newckbk.domain.excel.StatisticReport">
		select
			ks_yyjb as langType,
			ks_xymc as academy,
			ks_zymc as major,
			ks_nj as grade,
			ks_bjmc as classes,
			count(*) as missingNumber
		from
			cet_stuscore
			left join xs_xjxxb_view_kw on xs_xjxxb_view_kw.xh = cet_stuscore.ks_xh
		<where>
			xs_xjxxb_view_kw.SFYXJ = '是' and ks_qk = '缺考'
			<if test="grade != null and grade != ''">
				and dqnj not in (${grade})
			</if>
			<if test="academy != null and academy != ''">
				and xsm not in (${academy})
			</if>
			<if test="major != null and major != ''">
				and zym not in (${major})
			</if>
			<if test="classes != null and classes != ''">
				and dqnj not in (${classes})
			</if>
			<if test="examDate != null and examDate != ''">
				and ks_kssj in (${examDate})
			</if>
			<if test="langType != null and langType != ''">
				and ks_yyjb in (${langType})
			</if>
			group by ks_yyjb,ks_xymc,ks_zymc,ks_nj,ks_bjmc
			order by ks_yyjb
		</where>
	</select>
	<select id="statisticPassNumber" resultType="com.imust.newckbk.domain.excel.StatisticReport">
		select
			ks_yyjb as langType,
			ks_xymc as academy,
			ks_zymc as major,
			ks_nj as grade,
			ks_bjmc as classes,
			count(*) as passNumber
		from
			cet_stuscore
			left join xs_xjxxb_view_kw on xs_xjxxb_view_kw.xh = cet_stuscore.ks_xh
		<where>
			xs_xjxxb_view_kw.SFYXJ = '是' and ks_zf >= 425
			<if test="grade != null and grade != ''">
				and dqnj not in (${grade})
			</if>
			<if test="academy != null and academy != ''">
				and xsm not in (${academy})
			</if>
			<if test="major != null and major != ''">
				and zym not in (${major})
			</if>
			<if test="classes != null and classes != ''">
				and dqnj not in (${classes})
			</if>
			<if test="examDate != null and examDate != ''">
				and ks_kssj in (${examDate})
			</if>
			<if test="langType != null and langType != ''">
				and ks_yyjb in (${langType})
			</if>
			group by ks_yyjb,ks_xymc,ks_zymc,ks_nj,ks_bjmc
			order by ks_yyjb
		</where>
	</select>

	<select id="statisticAvgScore" resultType="com.imust.newckbk.domain.excel.StatisticReport">
		select
			ks_yyjb as langType,
			ks_xymc as academy,
			ks_zymc as major,
			ks_nj as grade,
			ks_bjmc as classes,
			round(avg(ks_zf),2) as avgScore
		from
			cet_stuscore
			left join xs_xjxxb_view_kw on xs_xjxxb_view_kw.xh = cet_stuscore.ks_xh
		<where>
			xs_xjxxb_view_kw.SFYXJ = '是'
			<if test="grade != null and grade != ''">
				and dqnj not in (${grade})
			</if>
			<if test="academy != null and academy != ''">
				and xsm not in (${academy})
			</if>
			<if test="major != null and major != ''">
				and zym not in (${major})
			</if>
			<if test="classes != null and classes != ''">
				and dqnj not in (${classes})
			</if>
			<if test="examDate != null and examDate != ''">
				and ks_kssj in (${examDate})
			</if>
			<if test="langType != null and langType != ''">
				and ks_yyjb in (${langType})
			</if>
			group by ks_yyjb,ks_xymc,ks_zymc,ks_nj,ks_bjmc
			order by ks_yyjb
		</where>
	</select>

	<select id="statisticMaxScore" resultType="com.imust.newckbk.domain.excel.StatisticReport">
		select
			ks_yyjb as langType,
			ks_xymc as academy,
			ks_zymc as major,
			ks_nj as grade,
			ks_bjmc as classes,
			max(ks_zf) as maxScore
		from
			cet_stuscore
			left join xs_xjxxb_view_kw on xs_xjxxb_view_kw.xh = cet_stuscore.ks_xh
		<where>
			xs_xjxxb_view_kw.SFYXJ = '是'
			<if test="grade != null and grade != ''">
				and dqnj not in (${grade})
			</if>
			<if test="academy != null and academy != ''">
				and xsm not in (${academy})
			</if>
			<if test="major != null and major != ''">
				and zym not in (${major})
			</if>
			<if test="classes != null and classes != ''">
				and dqnj not in (${classes})
			</if>
			<if test="examDate != null and examDate != ''">
				and ks_kssj in (${examDate})
			</if>
			<if test="langType != null and langType != ''">
				and ks_yyjb in (${langType})
			</if>
			group by ks_yyjb,ks_xymc,ks_zymc,ks_nj,ks_bjmc
			order by ks_yyjb
		</where>
	</select>

	<select id="getByExtPage" resultType="com.imust.newckbk.domain.ext.CetStuscoreExt">
		select
			ks_kssj as ksKssj,
			ks_yyjb as ksYyjb,
			ks_xh as ksXh,
			ks_zf as ksZf,
			ks_qk as ksQk,
			ks_wj as ksWj,
			ks_xymc as ksXymc,
			ks_zymc as ksZymc,
			ks_nj as ksNj,
			ks_bjmc as ksBjmc,
			xm as ksXm,
			xb as ksXb,
			sfzh as ksSfzh
		from
			cet_stuscore
			left join xs_xjxxb_view_kw on xs_xjxxb_view_kw.xh = cet_stuscore.ks_xh
		<where>
			<if test="ksYyjb != null and ksYyjb != ''">
				and cet_stuscore.ks_yyjb = #{ksYyjb}
			</if>
			<if test="ksXm != null and ksXm != ''">
				and xs_xjxxb_view_kw.xm like concat('%',concat(#{ksXm},'%'))
			</if>
			<if test="ksXh != null and ksXh != ''">
				and cet_stuscore.ks_xh like concat('%',concat(#{ksXh},'%'))
			</if>
		</where>
	</select>

	<insert id="insert" parameterType="com.imust.newckbk.domain.CetStuscore" useGeneratedKeys="true" keyProperty="id">
		insert into CET_STUSCORE
		<trim prefix="(" suffix=")" suffixOverrides="," > 
			<if test=" ksKssj != null and ksKssj != ''">
				ks_kssj,
			</if>
			<if test=" ksYyjb != null and ksYyjb != ''">
				ks_yyjb,
			</if>
			<if test=" ksXh != null and ksXh != ''">
				ks_xh,
			</if>
			<if test=" ksZf != null and ksZf != ''">
				ks_zf,
			</if>
			<if test=" ksQk != null and ksQk != ''">
				ks_qk,
			</if>
			<if test=" ksWj != null and ksWj != ''">
				ks_wj,
			</if>
			<if test=" ksXymc != null and ksXymc != ''">
				ks_xymc,
			</if>
			<if test=" ksZymc != null and ksZymc != ''">
				ks_zymc,
			</if>
			<if test=" ksNj != null and ksNj != ''">
				ks_nj,
			</if>
			<if test=" ksBjmc != null and ksBjmc != ''">
				ks_bjmc
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test=" ksKssj != null and ksKssj != ''">
				#{ksKssj,jdbcType=VARCHAR},
			</if>
			<if test=" ksYyjb != null and ksYyjb != ''">
				#{ksYyjb,jdbcType=VARCHAR},
			</if>
			<if test=" ksXh != null and ksXh != ''">
				#{ksXh,jdbcType=VARCHAR},
			</if>
			<if test=" ksZf != null and ksZf != ''">
				#{ksZf,jdbcType=VARCHAR},
			</if>
			<if test=" ksQk != null and ksQk != ''">
				#{ksQk,jdbcType=VARCHAR},
			</if>
			<if test=" ksWj != null and ksWj != ''">
				#{ksWj,jdbcType=VARCHAR},
			</if>
			<if test=" ksXymc != null and ksXymc != ''">
				#{ksXymc,jdbcType=VARCHAR},
			</if>
			<if test=" ksZymc != null and ksZymc != ''">
				#{ksZymc,jdbcType=VARCHAR},
			</if>
			<if test=" ksNj != null and ksNj != ''">
				#{ksNj,jdbcType=VARCHAR},
			</if>
			<if test=" ksBjmc != null and ksBjmc != ''">
				#{ksBjmc,jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>
    <update id="updateById" parameterType="com.imust.newckbk.domain.CetStuscore">
		update CET_STUSCORE cetStuscore
		<set>
			<if test=" ksKssj != null and ksKssj != ''">
				ks_kssj = #{ksKssj,jdbcType=VARCHAR},
			</if>
			<if test=" ksYyjb != null and ksYyjb != ''">
				ks_yyjb = #{ksYyjb,jdbcType=VARCHAR},
			</if>
			<if test=" ksXh != null and ksXh != ''">
				ks_xh = #{ksXh,jdbcType=VARCHAR},
			</if>
			<if test=" ksZf != null and ksZf != ''">
				ks_zf = #{ksZf,jdbcType=VARCHAR},
			</if>
			<if test=" ksQk != null and ksQk != ''">
				ks_qk = #{ksQk,jdbcType=VARCHAR}
			</if>
		</set>
		 where id= #{id} 
	</update>
    <update id="updateByMap">
		update CET_STUSCORE  cetStuscore set 
		<if test="whereSql != null and whereSql != ''" >
			<![CDATA[${whereSql}]]>
		</if>
		<!-- 新建查询条件属性 -->
	</update>
    <update id="deleteById" parameterType="java.lang.Integer">
		update CET_STUSCORE cetStuscore set deleted=1
		where id=#{id}
	</update>
    <update id="deleteByMap" parameterType="java.util.Map">
		update CET_STUSCORE cetStuscore set deleted=1 
		<if test="whereSql != null and whereSql != ''" >
			<![CDATA[${whereSql}]]>
		</if>
		<!-- 新建条件属性 -->
	</update>
    <update id="deleteByEntity" parameterType="com.imust.newckbk.domain.CetStuscore">
		update CET_STUSCORE cetStuscore set deleted=1 where id=#{id}
	</update>
</mapper>
