<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "/WEB-INF/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.imust.newckbk.dao.XsXjxxbViewKwDao">
    <resultMap id="xsXjxxbViewKwMap" type="com.imust.newckbk.domain.XsXjxxbViewKw">
        <result property="xh" column="xh" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="xm" column="xm" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="sfzh" column="sfzh" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="xb" column="xb" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="xslbdm" column="xslbdm" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="bjh" column="bjh" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="sfyxj" column="sfyxj" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="xslbsm" column="xslbsm" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="xsm" column="xsm" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="zym" column="zym" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="rxnj" column="rxnj" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="dqnj" column="dqnj" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="gkksh" column="gkksh" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="cols">
		xh,
		xm,
		sfzh,
		xb,
		xslbdm,
		bjh,
		sfyxj,
		xslbsm,
		xsm,
		zym,
		rxnj,
		dqnj,
		gkksh
	</sql>
    <select id="getById" resultMap="xsXjxxbViewKwMap" parameterType="java.lang.String">
		select <include refid="cols"/> from XS_XJXXB_VIEW_KW  xsXjxxbViewKw
		 where xh = #{xh}
	</select>
    <select id="getByMap" resultMap="xsXjxxbViewKwMap" parameterType="java.util.Map">
		select <include refid="cols"/> from XS_XJXXB_VIEW_KW  xsXjxxbViewKw
		<if test="whereSql != null and whereSql != ''" >
			<![CDATA[${whereSql}]]>
		</if>
		<!-- 新建查询条件属性 -->
	</select>
    <select id="getByEntity" resultMap="xsXjxxbViewKwMap" parameterType="com.imust.newckbk.domain.XsXjxxbViewKw">
		select
			<include refid="cols"/>
		from
			XS_XJXXB_VIEW_KW  xsXjxxbViewKw
		<where>
			<if test="xh != null and xh != ''">
				and xsXjxxbViewKw.xh = #{xh}
			</if>
			<if test="xm != null and xm != ''">
				and xsXjxxbViewKw.xm = #{xm}
			</if>
			<if test="sfzh != null and sfzh != ''">
				and xsXjxxbViewKw.sfzh = #{sfzh}
			</if>
			<if test=" xb != null and xb != ''">
				and xsXjxxbViewKw.xb = #{xb}
			</if>
			<if test=" xslbdm != null and xslbdm != ''">
				and xsXjxxbViewKw.xslbdm = #{xslbdm}
			</if>
			<if test=" bjh != null and bjh != ''">
				and xsXjxxbViewKw.bjh = #{bjh}
			</if>
			<if test=" sfyxj != null and sfyxj != ''">
				and xsXjxxbViewKw.sfyxj = #{sfyxj}
			</if>
			<if test=" xslbsm != null and xslbsm != ''">
				and xsXjxxbViewKw.xslbsm = #{xslbsm}
			</if>
			<if test=" xsm != null and xsm != ''">
				and xsXjxxbViewKw.xsm = #{xsm}
			</if>
			<if test=" zym != null and zym != ''">
				and xsXjxxbViewKw.zym = #{zym}
			</if>
			<if test=" rxnj != null and rxnj != ''">
				and xsXjxxbViewKw.rxnj = #{rxnj}
			</if>
			<if test=" dqnj != null and dqnj != ''">
				and xsXjxxbViewKw.dqnj = #{dqnj}
			</if>
		</where>
	</select>
    <select id="getByPage" resultMap="xsXjxxbViewKwMap" parameterType="com.imust.newckbk.page.Page">
		select <include refid="cols"/> from XS_XJXXB_VIEW_KW  xsXjxxbViewKw
		<if test="p != null and p.whereSql != null and p.whereSql != ''" >
			<![CDATA[${p.whereSql}]]>
		</if>
		<!-- 新建查询条件属性 -->
	</select>
    <select id="getCount" resultType="java.lang.Integer">
		select count(1) from XS_XJXXB_VIEW_KW  xsXjxxbViewKw
	</select>
    <select id="getCountByMap" resultType="java.lang.Integer">
		select count(1) from XS_XJXXB_VIEW_KW  xsXjxxbViewKw
		<if test="whereSql != null and whereSql != ''" >
			<![CDATA[${whereSql}]]>
		</if>
		<!-- 新建查询条件属性 -->
	</select>
    <select id="getCountByEntity" resultType="java.lang.Integer">
		select count(1) from XS_XJXXB_VIEW_KW  xsXjxxbViewKw
		<!--新建if语句新建过滤条件-->
	</select>
    <select id="getByMapPage" resultType="com.imust.newckbk.domain.XsXjxxbViewKw">
		select
			<include refid="cols"/>
		from
			XS_XJXXB_VIEW_KW  xsXjxxbViewKw
		<where>
			<if test="xh != null and xh != ''">
				and xsXjxxbViewKw.xh like '%' || #{xh} || '%'
			</if>
			<if test="xm != null and xm != ''">
				and xsXjxxbViewKw.xm like '%' || #{xm} || '%'
			</if>
			<if test="sfzh != null and sfzh != ''">
				and xsXjxxbViewKw.sfzh like '%' || #{sfzh} || '%'
			</if>
			<if test=" xb != null and xb != ''">
				and xsXjxxbViewKw.xb like '%' || #{xb} || '%'
			</if>
			<if test=" xslbdm != null and xslbdm != ''">
				and xsXjxxbViewKw.xslbdm like '%' || #{xslbdm} || '%'
			</if>
			<if test=" bjh != null and bjh != ''">
				and xsXjxxbViewKw.bjh like '%' || #{bjh} || '%'
			</if>
			<if test=" sfyxj != null and sfyxj != ''">
				and xsXjxxbViewKw.sfyxj like '%' || #{sfyxj} || '%'
			</if>
			<if test=" xslbsm != null and xslbsm != ''">
				and xsXjxxbViewKw.xslbsm like '%' || #{xslbsm} || '%'
			</if>
			<if test=" xsm != null and xsm != ''">
				and xsXjxxbViewKw.xsm like '%' || #{xsm} || '%'
			</if>
			<if test=" zym != null and zym != ''">
				and xsXjxxbViewKw.zym like '%' || #{zym} || '%'
			</if>
			<if test=" rxnj != null and rxnj != ''">
				and xsXjxxbViewKw.rxnj like '%' || #{rxnj} || '%'
			</if>
			<if test=" dqnj != null and dqnj != ''">
				and xsXjxxbViewKw.dqnj like '%' || #{dqnj} || '%'
			</if>
		</where>
	</select>
    <select id="getAcademy" resultType="java.lang.String">
		select distinct xsm from XS_XJXXB_VIEW_KW  xsXjxxbViewKw where <!--where sfyxj = '是' and--> dqnj = #{grade}
	</select>
	<select id="getMajor" resultType="java.lang.String">
		select distinct zym from XS_XJXXB_VIEW_KW  xsXjxxbViewKw where <!--where sfyxj = '是' and--> dqnj = #{grade} and xsm = #{academy}
	</select>
	<select id="getClasses" resultType="java.lang.String">
		select distinct bjh from XS_XJXXB_VIEW_KW  xsXjxxbViewKw where <!--where sfyxj = '是' and--> dqnj = #{grade} and xsm = #{academy} and zym = #{major}
	</select>
	<insert id="insert" parameterType="com.imust.newckbk.domain.XsXjxxbViewKw" useGeneratedKeys="true" keyProperty="id">
		insert into XS_XJXXB_VIEW_KW
		<trim prefix="(" suffix=")" suffixOverrides="," > 
			<if test=" xh != null and xh != ''">
				xh,
			</if>
			<if test=" xm != null and xm != ''">
				xm,
			</if>
			<if test=" sfzh != null and sfzh != ''">
				sfzh,
			</if>
			<if test=" xb != null and xb != ''">
				xb,
			</if>
			<if test=" xslbdm != null and xslbdm != ''">
				xslbdm,
			</if>
			<if test=" bjh != null and bjh != ''">
				bjh,
			</if>
			<if test=" sfyxj != null and sfyxj != ''">
				sfyxj,
			</if>
			<if test=" xslbsm != null and xslbsm != ''">
				xslbsm,
			</if>
			<if test=" xsm != null and xsm != ''">
				xsm,
			</if>
			<if test=" zym != null and zym != ''">
				zym,
			</if>
			<if test=" rxnj != null and rxnj != ''">
				rxnj
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test=" xh != null and xh != ''">
				#{xh,jdbcType=VARCHAR},
			</if>
			<if test=" xm != null and xm != ''">
				#{xm,jdbcType=VARCHAR},
			</if>
			<if test=" sfzh != null and sfzh != ''">
				#{sfzh,jdbcType=VARCHAR},
			</if>
			<if test=" xb != null and xb != ''">
				#{xb,jdbcType=VARCHAR},
			</if>
			<if test=" xslbdm != null and xslbdm != ''">
				#{xslbdm,jdbcType=VARCHAR},
			</if>
			<if test=" bjh != null and bjh != ''">
				#{bjh,jdbcType=VARCHAR},
			</if>
			<if test=" sfyxj != null and sfyxj != ''">
				#{sfyxj,jdbcType=VARCHAR},
			</if>
			<if test=" xslbsm != null and xslbsm != ''">
				#{xslbsm,jdbcType=VARCHAR},
			</if>
			<if test=" xsm != null and xsm != ''">
				#{xsm,jdbcType=VARCHAR},
			</if>
			<if test=" zym != null and zym != ''">
				#{zym,jdbcType=VARCHAR},
			</if>
			<if test=" rxnj != null and rxnj != ''">
				#{rxnj,jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>
    <update id="updateById" parameterType="com.imust.newckbk.domain.XsXjxxbViewKw">
		update XS_XJXXB_VIEW_KW xsXjxxbViewKw
		<set>
			<if test=" xh != null and xh != ''">
				xh = #{xh,jdbcType=VARCHAR},
			</if>
			<if test=" xm != null and xm != ''">
				xm = #{xm,jdbcType=VARCHAR},
			</if>
			<if test=" sfzh != null and sfzh != ''">
				sfzh = #{sfzh,jdbcType=VARCHAR},
			</if>
			<if test=" xb != null and xb != ''">
				xb = #{xb,jdbcType=VARCHAR},
			</if>
			<if test=" xslbdm != null and xslbdm != ''">
				xslbdm = #{xslbdm,jdbcType=VARCHAR},
			</if>
			<if test=" bjh != null and bjh != ''">
				bjh = #{bjh,jdbcType=VARCHAR},
			</if>
			<if test=" sfyxj != null and sfyxj != ''">
				sfyxj = #{sfyxj,jdbcType=VARCHAR},
			</if>
			<if test=" xslbsm != null and xslbsm != ''">
				xslbsm = #{xslbsm,jdbcType=VARCHAR},
			</if>
			<if test=" xsm != null and xsm != ''">
				xsm = #{xsm,jdbcType=VARCHAR},
			</if>
			<if test=" zym != null and zym != ''">
				zym = #{zym,jdbcType=VARCHAR},
			</if>
			<if test=" rxnj != null and rxnj != ''">
				rxnj = #{rxnj,jdbcType=VARCHAR}
			</if>
		</set>
		 where id= #{id} 
	</update>
    <update id="updateByMap">
		update XS_XJXXB_VIEW_KW  xsXjxxbViewKw set 
		<if test="whereSql != null and whereSql != ''" >
			<![CDATA[${whereSql}]]>
		</if>
		<!-- 新建查询条件属性 -->
	</update>
    <update id="deleteById" parameterType="java.lang.Integer">
		update XS_XJXXB_VIEW_KW xsXjxxbViewKw set deleted=1
		where id=#{id}
	</update>
    <update id="deleteByMap" parameterType="java.util.Map">
		update XS_XJXXB_VIEW_KW xsXjxxbViewKw set deleted=1 
		<if test="whereSql != null and whereSql != ''" >
			<![CDATA[${whereSql}]]>
		</if>
		<!-- 新建条件属性 -->
	</update>
    <update id="deleteByEntity" parameterType="com.imust.newckbk.domain.XsXjxxbViewKw">
		update XS_XJXXB_VIEW_KW xsXjxxbViewKw set deleted=1 
		where id=#{id}
	</update>
</mapper>
